Read the `playstore.xlsx` Excel file from data folder and store it in a `playstore_df` DataFrame.

- When reading in the file, only use the columns `'App', 'Rating', 'Installs', 'Rating', 'Genres', 'Last_Updated'`.
- Make sure `Last_Updated` is in datetime format, try do this while reading the file into the DataFrame.

After reading the data, filter the records and keep only the top 25 with highest `Rating` (being 5 the highest possible rating value).

- Save in a `playstore_df2` variable the `Google_playstore` sheet. Use the first column as index.
- Save in a `content_id_df` variable the `Content_ID` sheet. Use `Content_ID` as index.

In [1]:
#!pip install openpyxl install for reading .xlxs files

In [2]:
import pandas as pd

path="data/playstore.xlsx"

In [3]:
playstore_df=pd.read_excel(path, engine="openpyxl", parse_dates=['Last_Updated'],
                   usecols=['App', 'Rating', 'Installs', 'Rating', 'Genres', 'Last_Updated'])
playstore_df.head()

,App,Rating,Installs,Genres,Last_Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,4.1,"10,000+",Art & Design,2018-01-07
1,Coloring book moana,3.9,"500,000+",Art & Design;Pretend Play,2018-01-15
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",4.7,"5,000,000+",Art & Design,2018-08-01
3,Sketch - Draw & Paint,4.5,"50,000,000+",Art & Design,2018-06-08
4,Pixel Draw - Number Art Coloring Book,4.3,"100,000+",Art & Design;Creativity,2018-06-20

In [4]:
playstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   App           250 non-null    object
 1   Rating        239 non-null    float64
 2   Installs      250 non-null    object
 3   Genres        250 non-null    object
 4   Last_Updated  250 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 9.9+ KB

In [5]:
playstore_df=playstore_df.sort_values(by=["Rating"],ascending=False).head(25)
playstore_df

,App,Rating,Installs,Genres,Last_Updated
99,"ipsy: Makeup, Beauty, and Tips",4.9,"1,000,000+",Beauty,2017-11-09
61,CDL Practice Test 2018 Edition,4.9,"100,000+",Auto & Vehicles,2018-07-03
79,Tickets + PDA 2018 Exam,4.9,"1,000,000+",Auto & Vehicles,2018-07-15
64,DMV Permit Practice Test 2018 Edition,4.9,"100,000+",Auto & Vehicles,2018-07-03
177,eBoox new: Reader for fb2 epub zip books,4.9,"50,000+",Books & Reference,2018-07-17
55,Tickets SDA 2018 and Exam from the State Traff...,4.9,"100,000+",Auto & Vehicles,2018-07-18
74,Tickets SDA 2019 + Exam RF,4.8,"500,000+",Auto & Vehicles,2018-07-27
161,ReadEra – free ebook reader,4.8,"1,000,000+",Books & Reference,2018-06-02
151,Free Books - Spirit Fanfiction and Stories,4.8,"1,000,000+",Books & Reference,2018-08-01
196,Job Search by ZipRecruiter,4.8,"1,000,000+",Business,2018-07-19
70,Fines of the State Traffic Safety Inspectorate...,4.8,"5,000,000+",Auto & Vehicles,2018-08-02
73,PDD-UA,4.8,"100,000+",Auto & Vehicles,2018-07-29
25,Harley Quinn wallpapers HD,4.8,"10,000+",Art & Design,2018-04-25
108,Prom MakeUp Tutorial,4.8,"10,000+",Beauty,2018-06-26
235,Tiny Scanner Pro: PDF Doc Scan,4.8,"100,000+",Business,2017-04-11
137,Methods of teeth whitening,4.7,"50,000+",Beauty,2017-08-07
38,PIP Camera - PIP Collage Maker,4.7,"10,000+",Art & Design,2017-11-29
156,Offline: English to Tagalog Dictionary,4.7,"500,000+",Books & Reference,2018-08-04
36,UNICORN - Color By Number & Pixel Art Coloring,4.7,"500,000+",Art & Design;Creativity,2018-08-02
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",4.7,"5,000,000+",Art & Design,2018-08-01
34,I Creative Idea,4.7,"10,000+",Art & Design,2018-04-27
162,NOOK App for NOOK Devices,4.7,"500,000+",Books & Reference,2018-04-25
234,TurboScan: scan documents and receipts in PDF,4.7,"100,000+",Business,2018-03-25
107,Ulta Beauty,4.7,"1,000,000+",Beauty,2018-06-05
168,eBoox: book reader fb2 epub zip,4.7,"1,000,000+",Books & Reference,2018-06-20

In [6]:
file = pd.ExcelFile(path,engine="openpyxl")
file.sheet_names

['Google_playstore', 'Content_ID']

In [7]:
playstore_df2=file.parse("Google_playstore",index_col=0)
playstore_df2.head(5)

,App,Category,Rating,Installs,Type,Price,Content_ID,Genres,Last_Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,"10,000+",Free,0,101,Art & Design,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,"500,000+",Free,0,101,Art & Design;Pretend Play,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,"5,000,000+",Free,0,101,Art & Design,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,"50,000,000+",Free,0,102,Art & Design,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,"100,000+",Free,0,101,Art & Design;Creativity,"June 20, 2018"

In [8]:
content_id_df=file.parse("Content_ID",index_col="Content_ID")
content_id_df

           Content_Rating
Content_ID
101              Everyone
101              Everyone
101              Everyone
102                  Teen
101              Everyone
...                   ...
101              Everyone
101              Everyone
101              Everyone
101              Everyone
101              Everyone

[250 rows x 1 columns]

#### Parsing artists JSON file

This exercise will take a few steps to complete successfully. Have a look at the `artists.json` file before starting so you have an idea of the structure and information contained.

- Read the `artists.json` into an `artists` DataFrame variable, without using `json_normalize`.
- Remove the `bio` column.
- Set the `name` column as index.
- Save it as `artists.csv` keeping the index.
################################################################################################################
- Read the `artists.json` into an `artists` DataFrame variable, using `json_normalize`. Keep the default index.
- Using the `bio` column, create a new `biography` DataFrame variable with the bio of each artist.
- When creatng the `biography` DataFrame also add the `name` column.

In [9]:
import pandas as pd
import json

In [10]:
with open('data/artists.json') as file: # Maybe you may need to specify the encoding="utf8" 
    json_dict = json.load(file)

#json_dict

In [11]:
artists = pd.DataFrame.from_dict(json_dict)
artists

,name,years,genre,nationality,bio
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,"[{'full name': 'Amedeo Clemente Modigliani', '..."
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,[{'full name': 'Wassily Wassilyevich Kandinsky...
2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,[{'full name': 'Diego María de la Concepción J...
3,Claude Monet,1840 - 1926,Impressionism,French,"[{'full name': 'Oscar-Claude Monet', 'pronunci..."
4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,[{'full name': 'René François Ghislain Magritt...

In [12]:
artists=artists.drop(["bio"],axis=1) #delete bio
artists.set_index("name")
#artists.to_csv("artist_csv")

                          years                         genre nationality
name
Amedeo Modigliani   1884 - 1920                 Expressionism     Italian
Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
Diego Rivera        1886 - 1957       Social Realism,Muralism     Mexican
Claude Monet        1840 - 1926                 Impressionism      French
Rene Magritte       1898 - 1967      Surrealism,Impressionism     Belgian

In [13]:
from pandas import json_normalize

artist2 = json_normalize(json_dict)

artist2

,name,years,genre,nationality,bio
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,"[{'full name': 'Amedeo Clemente Modigliani', '..."
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,[{'full name': 'Wassily Wassilyevich Kandinsky...
2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,[{'full name': 'Diego María de la Concepción J...
3,Claude Monet,1840 - 1926,Impressionism,French,"[{'full name': 'Oscar-Claude Monet', 'pronunci..."
4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,[{'full name': 'René François Ghislain Magritt...

In [14]:
#unpack
biography = json_normalize(json_dict,
                           record_path='bio',
                           meta=['name'])
biography

,full name,pronunciation,life span,info,wikipedia,paintings,name
0,Amedeo Clemente Modigliani,[ameˈdɛːo modiʎˈʎaːni],12 July 1884 – 24 January 1920,was an Italian Jewish painter and sculptor who...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193,Amedeo Modigliani
1,Wassily Wassilyevich Kandinsky,"Васи́лий Васи́льевич Канди́нский, tr. Vasíliy ...",16 December [O.S. 4 December] 1866 – 13 Decemb...,was a Russian painter and art theorist.,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88,Vasiliy Kandinskiy
2,Diego María de la Concepción Juan Nepomuceno E...,[ˈdjeɣo riˈβeɾa],"December 8, 1886 – November 24, 1957",was a prominent Mexican painter. His large fre...,http://en.wikipedia.org/wiki/Diego_Rivera,70,Diego Rivera
3,Oscar-Claude Monet,[klod mɔnɛ],14 November 1840 – 5 December 1926,"was a French painter, a founder of French Impr...",http://en.wikipedia.org/wiki/Claude_Monet,73,Claude Monet
4,René François Ghislain Magritte,[ʁəne fʁɑ̃swa ɡilɛ̃ maɡʁit],21 November 1898 – 15 August 1967,Was a Belgian Surrealist artist. He became wel...,http://en.wikipedia.org/wiki/René_Magritte,194,Rene Magritte