### TSV with The Simpsons episodes
Read and store in a `simpsons` DataFrame the data within the `simpsons-episodes.tsv` TSV (_Tabular Separated Values_) file. This file contains information about all The Simpsons episodes.

Take a look at the file before you read it into a DataFrame and see what will be necessary to parse it correctly.

- Use correct separator as data is tabular separated.
- Use the following `col_names` list as column names.
- Load just `Title`, `Air date`, `Production code` and `IMDB rating`.
- Don't load the first empty rows.
- Set `Production code` as index.
- Null values are encoded as `no_val` values, be careful with that when loading the data.
- Parse the `Air date` columns as Date.

In [2]:
filepath = 'data/simpsons-episodes.tsv'

with open(filepath, 'r') as reader:
    for index, line in enumerate(reader.readlines()):
        # read just the first 10 lines
        if (index < 10):
            print(index, line)

0

1

2

3

4 Two Cars in Every Garage and Three Eyes on Every Fish	1/11/90	7F01	2	4	17	26.1	64959	8.1

5 no_val	15/11/90	7F08	2	6	19	25.4	50691	8

6 Bart the Daredevil	6/12/90	7F06	2	8	21	26.2	57605	no_val

7 Bart Gets Hit by a Car	10/1/91	no_val	2	10	23	24.8	56486	7.8

8 Homer vs. Lisa and the 8th Commandment	7/2/91	7F13	2	13	26	26.2	58277	8

9 "Oh Brother, Where Art Thou?"	21/2/91	7F16	2	15	28	no_val	47426	8.2

In [43]:
import pandas as pd
col_names = ['Title', 'Air date', 'Production code', 'Season', 'Number in season',
             'Number in series', 'US viewers (million)', 'Views', 'IMDB rating']
user_col=["Title", "Air date", "Production code","IMDB rating"]

simpsons=pd.read_csv("data/simpsons-episodes.tsv",
                     sep="\t",
                     skiprows=4,
                     names=col_names,
                     usecols=user_col,
                     index_col="Production code"
                     ,na_values=['no_val'],parse_dates=["Air date"])
simpsons

,Title,Air date,IMDB rating
Production code,,,
7F01,Two Cars in Every Garage and Three Eyes on Eve...,1990-01-11,8.1
7F08,NaN,1990-11-15,8.0
7F06,Bart the Daredevil,1990-06-12,NaN
NaN,Bart Gets Hit by a Car,1991-10-01,7.8
7F13,Homer vs. Lisa and the 8th Commandment,1991-07-02,8.0
...,...,...,...
PABF07,At Long Last Leave,2012-02-19,7.0
PABF08,How I Wet Your Mother,2012-11-03,7.3
PABF18,Adventures in Baby-Getting,2012-04-11,6.9
SABF08,Diggs,2014-09-03,6.4
SABF13,Days of Future Future,2014-04-13,7.0

In [44]:
simpsons["IMDB rating"].mean()

7.37956081081081

In [45]:
pd.isnull(simpsons["IMDB rating"])

Production code
7F01      False
7F08      False
7F06       True
NaN       False
7F13      False
          ...
PABF07    False
PABF08    False
PABF18    False
SABF08    False
SABF13    False
Name: IMDB rating, Length: 597, dtype: bool

In [46]:
simpsons["IMDB rating"]=simpsons["IMDB rating"].fillna(simpsons["IMDB rating"].mean())

In [52]:
simpsons.sort_values(by=['IMDB rating'],ascending= False).head(10) #Top ten Episodes

,Title,Air date,IMDB rating
Production code,,,
4F19,Homer's Enemy,1997-04-05,9.2
3F23,You Only Move Twice,1996-03-11,9.2
4F22,The City of New York vs. Homer Simpson,1997-09-21,9.1
2F16,Who Shot Mr. Burns? (Part One),1995-05-21,9.1
9F22,Cape Feare,1993-07-10,9.0
9F10,NaN,1993-01-14,9.0
9F15,Last Exit to Springfield,1993-11-03,9.0
9F01,Homer the Heretic,1992-08-10,9.0
2F06,Homer Badman,1994-11-27,9.0
3G01,The Springfield Files,1997-12-01,9.0