### Vancouver crime information

Using sqlite3 connection:
- Store all the crimes committed after 18:00 h in a `late_crimes` variable.
- Store the number of crimes committed on the month with most crimes in a `dangerous_month_crimes` variable.

In [1]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect('data/van_crime_2003.sql')

In [7]:
c = conn.cursor()

In [8]:
c.executescript(open('data/van_crime_2003.sql', 'r').read())

DatabaseError: file is not a database

In [5]:
van_crimes_df = pd.read_sql('SELECT * FROM van_crime WHERE hour > 18', conn)

DatabaseError: Execution failed on sql 'SELECT * FROM van_crime WHERE hour > 18': no such table: van_crime

In [19]:
import numpy as np
import pandas as pd
import sqlite3

# create a new connection to a db in memory
conn = sqlite3.connect(':memory:')

# create a cursor
c = conn.cursor()

# restore the given van_crime_2003.sql dump
c.executescript(open('data/van_crime_2003.sql', 'r').read())

van_crimes_df = pd.read_sql('SELECT * FROM van_crime_2003 WHERE hour > 14', conn)

late_crimes = van_crimes_df.loc[van_crimes_df['HOUR'] > 18]

dangerous_month_crimes = van_crimes_df.loc[:, 'MONTH'].value_counts().head(1)

DatabaseError: Execution failed on sql 'SELECT * FROM van_crime_2003 WHERE hour > 14': no such table: van_crime_2003

In [ ]:
# create a new connection to a db in memory
conn = sqlite3.connect(':memory:')

#Â create a cursor
c = conn.cursor()

# restore the given van_crime_2003.sql dump
c.executescript(open('data/van_crime_2003.sql', 'r').read())

van_crimes_df = pd.read_sql('''SELECT TYPE, MONTH, DAY, NEIGHBOURHOOD
                            FROM van_crimes WHERE NEIGHBOURHOOD IN ("Stanley Park", "West End")''', conn)

crime_types_count = van_crimes_df['TYPE'].value_counts()

In [ ]:
van_crimes_df

In [10]:
import numpy as np
import pandas as pd
import sqlite3

# create a new connection to a db in memory
conn = sqlite3.connect(':memory:')

# create a cursor
c = conn.cursor()

# restore the given van_crime_2003.sql dump
c.executescript(open('van_crime_2003.sql', 'r').read())

van_crimes_df = pd.read_sql('SELECT * FROM van_crimes WHERE hour > 14', conn)

late_crimes = van_crimes_df.loc[van_crimes_df['HOUR'] > 18]

dangerous_month_crimes = van_crimes_df.loc[:, 'MONTH'].value_counts().head(1)

FileNotFoundError: [Errno 2] No such file or directory: 'van_crime_2003.txt'